<link rel="preload" as="font" type="font/ttf" href="styles/Roboto-Regular.ttf" crossorigin />
<link rel="preload" as="font" type="font/woff2" href="styles/fa-solid-900.woff2" crossorigin />
{{#if debug }}
<link rel="stylesheet" type="text/css" href="styles/normalize.css" />
<link rel="stylesheet" type="text/css" href="styles/fontawesome.custom.css" />
<link rel="stylesheet" type="text/css" href="styles/theme.css" />
<link rel="stylesheet" type="text/css" href="styles/layout.css" />
{{else}}
<link rel="stylesheet" type="text/css" href="styles/all.css" />
{{/if}}
