body {
    margin: 0;
    font-size: 20px;
    background: var(--main-background);
    color: var(--main-color);
}

header {
    position: relative ;/* to use z-index */
    z-index: 100;
    background: var(--contrast-background);
    box-shadow: 0px 2px 5px rgba(var(--contrast-background),0.7);
    height: 3rem;
    line-height: 2.8rem;
    padding: 0 0.5rem;
    font-size: 1.1em;
    color: var(--contrast-color);
}

header::after {
    clear: both;
}

.header-profile-btn {
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    background: var(--main-background);
    border: none;
    text-align: center;
    font-size: 0.8em;
    color: var(--main-color);
}

header .buttons {
    float: right;
}

header .btn-grp {
    height: 1.5rem;
    line-height: 1.3rem;
}

header .icon-btn {
    color: var(--contrast-color);
}

aside {
    height: 0;
    padding: 0 0.5rem;
    overflow: hidden;
    transition: all 1s;
}

aside.active {
    height: 12rem;
    padding: 0.5rem;
}

section {
    padding: 0.5rem;
}

footer {
    margin-top: 1rem;
    border-top: 0.1rem solid var(--light-main-background);
    text-align: center;
}

h1 {
    border-bottom: 2px solid var(--main-color);
}

.btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.8em;
    border: none;
    border-radius: 2px;
}

.btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn-default {
    background: var(--contrast-background);
    color: var(--contrast-color);
}
.btn-default:hover {
    background: var(--light-contrast-background);
}

.btn-contrast {
    background: var(--main-background);
    color: var(--main-color);
}
.btn-contrast:hover {
    background: var(--light-main-background);
}

.btn-grp {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.btn-grp-dropdown {
    position: absolute;
    right: 0;
    background: var(--main-background);
    padding: 0.2rem;
    border: 1px solid var(--light-main-background);
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;
}
.btn-grp-dropdown.active {
    opacity: 1;
}
.btn-grp-dropdown .active {
    font-weight: bold;
}

.profil {
    background: var(--light-contrast-background);
    color: var(--contrast-color);
}

.task-filters {
    background: var(--contrast-background);
    color: var(--contrast-color);
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.task-filter {
    display: inline-block;
    margin: 0.5rem;
}

.task {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid var(--main-color);
    box-shadow: 2px 2px 0px var(--main-color);
}

.task:after {
    content: '';
    clear: both;
}

.task-btn {
    float: right;
    margin-left: 0.2rem;
}

.task-date {
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 0.5rem;
}

.icon-btn {
    background: transparent;
    border: none;
}
.theme-icon {
    text-shadow: 0px 0px 3px var(--light-contrast-background);
}

#theme-white-btn {
    color: white;
}
#theme-black-btn {
    color: black;
}

.pagination {
    display: flex;
    justify-content: center;
}
.pagination .btn {
    border: 1px solid var(--main-background);
}
.pagination .btn.active {
    background: var(--light-main-background);
    color: var(--main-color);
}

.disable, .disable:hover {
    cursor: default;
    text-decoration: none;
}
