body {
    margin: 0;
}

header {
    background: #DDD;
    height: 2rem;
    line-height: 1.8rem;
}

header::after {
    clear: both;
}

header .buttons {
    float: right;
}

aside {
    height: 0;
    padding: 0 0.5rem;
    overflow: hidden;
    transition: all 1s;
}

aside.active {
    height: 8rem;
    padding: 0.5rem;
}

section {
    padding: 0.5rem;
}

footer {
    margin-top: 1rem;
    border-top: 0.1rem solid #DDD;
    text-align: center;
}


.btn-grp {
    display: inline-block;
    position: relative;
}

.btn-grp-dropdown {
    position: absolute;
    right: 0;
    background: white;
    padding: 0.2rem;
    border: 1px solid #777;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;
}
.btn-grp-dropdown.active {
    opacity: 1;
}
.btn-grp-dropdown .active {
    font-weight: bold;
}

.profil {
    background: #333;
    color: #EEE;
}